
# ===============================
# NODE / TOOLING
# ===============================
node_modules/
venv

# package-lock.json  <-- opcional, se puede subir
# postcss y tailwind configs son necesarios
# postcss.config.js
# tailwind.config.js
pnpm-lock.yaml
yarn.lock

# ===============================
# BUILDS / CACHE
# ===============================
dist/
build/
.wrangler/
.dev.vars
.env


__pycache__/
db.sqlite3
media/

# ===============================
# OS / EDITOR
# ===============================
.DS_Store
.vscode/

